<%# <div> %>
  <%# link_to raw('<i class="fas fa-chevron-left"></i>'), :back, class: 'btn btn-outline-primary' %>
<%# link_to "+ add a dog", new_dog_path, class: "btn btn-primary" %>
  <%# <div class="container"><h1>My dogs</h1></div> %>
<%# </div> %>
<%# <br> %>
<%# <div class="container"> %>
  <%# @dogs.each do |d| %>
    <%# link_to raw('<i class="far fa-trash-alt"></i>'), dog_path(d), method: :delete, data: { confirm: "Remove #{d.name}?" }, class: 'btn btn-danger btn-sm' %>
    <%# link_to raw("<div>
      #{cl_image_tag d.photo.key, height: 200}
      <div class='card-product-infos'>
        <p>Name: #{d.name}</p>
        <p>Breed: #{d.breed}</p>
        <p>Age: #{d.age[:year]} years and #{d.age[:month]} months</p>
        <p>Gender: #{d.gender}</p>
        <p>Pedigree: #{d.pedigree}</p>
        <p>Address: #{d.address}</p>
        <p>Matchable: #{d.matchable}</p>
      </div>
    </div>"), dog_path(d) %>
  <%# end %>
<%# </div> %>
<div class="" >
  <div class="logo">
    <img src="<%= asset_path('logo.png')%>" alt="Avatar">
    <h3>Select A Dog</h3>
    <% if current_dog.id %>
      <h4 class="">You are matching </h4>
      <h2><%= current_dog.name %></h2>
    <% end %>
  </div>

  <div class="doggo-cards">
    <% current_user.dogs.each do |dog| %>
      <div class="current-dog-container <%= current_dog.id == dog.id %>">
        <%= link_to new_dog_session_path(dog_id: dog.id), method: :post do %>
          <%= cl_image_tag dog.photo.key, class: "avatar-large", alt: "avatar-large" %>
        <% end %>
        <h2><%= dog.name %></h2>
        <div>
          <%= link_to raw('<i class="fas fa-pen"></i>'), edit_dog_path(dog), class: 'edit-pen' %>
        </div>
      </div>
    <% end %>
    <div class="current-dog-container add-dog-btn">
      <%= link_to "+", new_dog_path %>
    </div>
  </div>
</div>
