<%# <div> %>
  <%# link_to raw('<i class="fas fa-chevron-left"></i>'), :back, class: 'btn btn-outline-primary' %>
<%# link_to "+ add a dog", new_dog_path, class: "btn btn-primary" %>
  <%# <div class="container"><h1>My dogs</h1></div> %>
<%# </div> %>
<%# <br> %>
<%# <div class="container"> %>
  <%# @dogs.each do |d| %>
    <%# link_to raw('<i class="far fa-trash-alt"></i>'), dog_path(d), method: :delete, data: { confirm: "Remove #{d.name}?" }, class: 'btn btn-danger btn-sm' %>
    <%# link_to raw("<div>
      #{cl_image_tag d.photo.key, height: 200}
      <div class='card-product-infos'>
        <p>Name: #{d.name}</p>
        <p>Breed: #{d.breed}</p>
        <p>Age: #{d.age[:year]} years and #{d.age[:month]} months</p>
        <p>Gender: #{d.gender}</p>
        <p>Pedigree: #{d.pedigree}</p>
        <p>Address: #{d.address}</p>
        <p>Matchable: #{d.matchable}</p>
      </div>
    </div>"), dog_path(d) %>
  <%# end %>
<%# </div> %>
<div class="d-flex flex-column" style="height:100vh; justify-content:space-evenly">
  <div class="container text-center"><h4>SELECT A DOG</h4></div>
  <div class="container d-flex flex-wrap justify-content-between
  " style="width:290px; height:180px">
    <% current_user.dogs.each do |dog| %>
      <div class="d-flex mb-4">
      <%= link_to new_dog_session_path(dog_id: dog.id), method: :post do %>
        <%= cl_image_tag dog.photo.key, class: "avatar-large", alt: "avatar-large" %>
      <% end %>
      <div style="display:flex; flex-direction:column; justify-content:space-between;">
        <%= link_to raw('<i class="far fa-trash-alt"></i>'), dog_path(dog), method: :delete, data: { confirm: "Remove #{dog.name}?" }, class: 'btn btn-danger btn-sm' %>
        <%= link_to raw('<i class="fas fa-pen"></i>'), edit_dog_path(dog), class: 'btn btn-info btn-sm' %>
      </div>
      </div>
    <% end %>
    <%= link_to "+ Add a dog", new_dog_path, class: "btn btn-primary avatar-large mb-5" %>
  </div>
  <h4 class="text-center">Dog selected: <%= current_dog.name %></h4>
</div>
