<div class="" >
  <div class="logo">
    <img src="<%= asset_path('logo.png')%>" alt="Avatar">
    <h3>Select A Dog</h3>
    <% if current_dog.id %>
      <h4 class="">You are matching </h4>
      <h2><%= current_dog.name %></h2>
    <% end %>
  </div>

  <div class="doggo-cards">
    <% current_user.dogs.each do |dog| %>
      <div class="current-dog-container <%= current_dog.id == dog.id %>">
        <%= link_to new_dog_session_path(dog_id: dog.id), method: :post do %>
          <%= cl_image_tag dog.photo.key, class: "avatar-large", alt: "avatar-large" %>
        <% end %>
        <h2><%= dog.name %></h2>
        <div>
          <%= link_to raw('<i class="fas fa-pen"></i>'), edit_dog_path(dog), class: 'edit-pen' %>
          <%= link_to raw('<i class="fas fa-info-circle"></i>'), dog_path(dog), class: 'info-icon sessions' %>
        </div>
      </div>
    <% end %>
    <div class="current-dog-container add-dog-btn">
      <%= link_to "+", new_dog_path %>
    </div>
  </div>
</div>
