<div class="wrapper">
  <h1 class="text-center">Add new doggo</h1>
  <% breeds = Dog::BREED.unshift('') %>
  <%= simple_form_for @dog, html: { class: "form-flex" } do |f| %>
    <%= f.input :name, label: false, placeholder: 'Name' %>
    <div>
      <%= f.select :breed, breeds %>
      <%= f.select :gender, Dog::GENDER %>
    </div>
    <%= f.input :birthdate, as: :string, required: false, input_html: {id: "datepicker"} %>
    <%= f.input :pedigree %>
    <%= f.input :address, label: false, placeholder: 'Address' %>
    <%= f.input :photo, as: :file, label: 'Add a photo' %>
    <%= f.submit 'Add a new doggo', class: 'btn btn-info add-a-dog'  %>
  <% end %>
</div>
