<div style="background-color: white;">

  <div class="container text-center"><h1>Add new doggo</h1></div>
</div>
<%= simple_form_for @dog do |f| %>
  <%= f.input :name %>
  <%= f.input :breed %>
  <%= f.input :gender, collection: [['female', 'female'], ['male', 'male']], label_method: :second, value_method: :first  %>
  <%= f.input :birthdate %>
  <%= f.input :pedigree %>
  <%= f.input :address %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit, class: 'btn btn-primary btn-sm'  %>
<% end %>
<br>
<%= link_to raw('<i class="fas fa-chevron-left"></i>'), '#', class: 'btn btn-outline-primary' %> <%# profile_path(@user) %>
