<div class="dog-card-show">
  <div class="card-img-show", style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)), url('<%= cl_image_path(@dog.photo.key)%>')">
    <h2><%= @dog.name %></h2>
    <div class="back-button">
      <%= link_to :back do %>
        <i class="fas fa-chevron-circle-left"></i>
      <% end %>
    </div>
  </div>
  <div class="card-description-show">
    <div class="basic-dog-info">

      <h5>Address: <%= @dog.address %></h5>
      <h5>Breed: <%= @dog.breed %></h5>
      <h5>Age: <%= @dog.age[:year] %> years and <%= @dog.age[:month] %> months</h5>
        <% @dog.pedigree ? x = "✅" : x = "🔆" %>
      <h5>Pedigree: <%= "#{x}" %></h5>
      <% @dog.gender == "male" ? a = "🚹" : a = "🚺" %>
      <h5>Gender: <%= "#{a}" %></h5>
    </div>
    <div class="dog-description">
      <p>"Such short little lives our pets have to spend with us, and they spend most of it waiting for us to come home each day."
      </p>
    </div>
  <div id="map"
    style="width: 100%; height: 400px;"
    data-marker="<%= @marker.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  </div>
