<h1>Dogs#show</h1>
<p>Find me in app/views/dogs/show.html.erb</p>

<ul>
  <%= cl_image_tag @dog.photo.key, height: 300, width: 400, crop: :fill %>
  <li>Name: <%= @dog.name %></li>
  <li>Breed: <%= @dog.breed %></li>
  <li>Date of birth: <%= @dog.birthdate %></li>
  <li>Age: <%= @dog.age[:year] %> years and <%= @dog.age[:month] %> months</li>
  <li>Gender: <%= @dog.gender %></li>
  <li>Pedigree: <%= @dog.pedigree %></li>
  <li>Address: <%= @dog.address %></li>
  <li>Matchable: <%= @dog.matchable %></li>
</ul>
<% if @dog.matchable %>
  <%= link_to 'Match', '#', class: 'btn btn-outline-primary', method: :post, params: {status: Match::STATUS[0]}%>
  <% else %>
  <%= link_to 'UnMatch', '#', class: 'btn btn-outline-primary', method: :post, params: {status: Match::STATUS[2]}%>
<% end %>
<br>
<%= link_to raw('<i class="fas fa-chevron-left"></i>'), dogs_path, class: 'btn btn-outline-primary' %>
<%= link_to raw('<i class="far fa-trash-alt"></i>'), dog_path(@dog), method: :delete, class: 'btn btn-outline-danger btn-sm m-3' %>
