<div class="bottom-bar">
  <div class="nav-icon">
    <%= link_to dogs_profile_path(current_user), class: "dashboard-icon" do %>
    <% if current_dog.id != nil %>
      <%= cl_image_tag current_dog.photo.key, class: "avatar", alt: "avatar-large" %>
      <% else %>
      <%= image_tag(('MaDLogo.png'), :class => "avatar-logo") %>
    <% end %>
    <% end %>
    <div class="middle-icon">
      <%= link_to dogs_path, class: "matches-page-icon" do %>
      <i class="fas fa-paw"></i>
      <% end %>
    </div>
    <%= link_to matches_path, class: "chat-page-icon" do %>
    <i class="far fa-comment"></i>
    <% end %>
  </div>
</div>
