
<div class="container mt-5">
  <ul class="nav nav-tabs tabs">
    <li class="active my-match-tab active-tab"><a data-toggle="tab" href="#pending"><h4>My Matches</h4></a></li>
    <li class="to-review-tab"><a data-toggle="tab" href="#review"><h4>To Review</h4></a></li>
  </ul>
  <div class="tab-content">
    <div id="pending" class="tab-pane fade in active show">
      <div class="pending_matches">
        <% @matches.each do |match| %>
          <% if match.matching_dog_id == current_dog.id %>
              <div class="card_pending">
                <div class="avatar_matching">
                   <%= cl_image_tag current_dog.photo.key, class: "current_avatar_dog dogs_avatars_match", alt: "avatar-large" %>
                   <%= cl_image_tag match.matched_dog.photo.key, class: "matched_avatar_dog dogs_avatars_match", alt: "avatar-large" %>
                </div>
                <div class="status_container_matches">
                  <p class="<%= match.status %>"><%= match.status %></p>
                  <div class="buttons_matches_container">
                    <%= link_to dog_path(match.matched_dog) do %>
                      <i class="fas fa-info-circle icon-match"></i>
                    <% end %>
                    <% if match.status == "accepted" %>
                      <%= link_to stylesheets_dogs_show_path do %>
                        <i class="far fa-comment-dots icon-match"></i>
                      <% end %>
                    <% else %>
                        <i class="far fa-comment-dots icon-disabled"></i>
                    <% end %>
                  </div>
                </div>
              </div>
          <% end %>
        <% end %>
      </div>
    </div>
      <div id="review" class="tab-pane fade">
        <div class="matches_to_review  mt-5">
          <% @matches.each do |match| %>
            <% if current_dog.id == match.matched_dog_id && match.status != "denied"%>
              <div class="card_pending">
                <div class="avatar_matching">
                   <%= cl_image_tag current_dog.photo.key, class: "current_avatar_dog dogs_avatars_match", alt: "avatar-large" %>
                   <%= cl_image_tag match.matching_dog.photo.key, class: "matched_avatar_dog dogs_avatars_match", alt: "avatar-large" %>
                </div>
                <div class="status_container_review">
                  <div class="accept_reject_container">
                    <% if match.status == 'pending'  %>
                      <%= link_to deny_match_path(match), class: "r-match" do %>
                        <i class="fas fa-times-circle"></i>
                      <% end %>
                      <%= link_to accept_match_path(match), class: "a-match" do %>
                        <i class="fa fa-check-circle"></i>
                      <% end %>
                    <% else %>
                      <p>Chat with <%= match.matching_dog.name %></p>
                    <% end %>
                  </div>
                  <div class="buttons_reviews_container">
                    <%= link_to dog_path(match.matching_dog) do %>
                      <i class="fas fa-info-circle icon-match"></i>
                    <% end %>
                    <% if match.status == "accepted" %>
                      <%= link_to stylesheets_dogs_show_path do %>
                        <i class="far fa-comment-dots icon-match"></i>
                      <% end %>
                    <% else %>
                        <i class="far fa-comment-dots icon-disabled"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
</div>
