<h1>Matches#index</h1>
<p>Find me in app/views/matches/index.html.erb</p>

<div class="pending_matches">
  <% @matches.each do |match| %>
    <% if match.matching_dog_id == current_user.dogs.first.id  %>
      <p> I'm waiting for <%= match.matched_dog.name %> to confirm my match request.  status: <%= match.status %></p>
    <% end %>
  <% end %>
</div>

<div class="matches_to_review  mt-5">
  <% @matches.each do |match| %>
    <% if match.matching_dog_id != current_user.dogs.first.id %>
      <p> I'm <%= link_to match.matching_dog.name, dog_path(match.matching_dog) %> and i want to match with you.  status: <%= match.status %></p>
      <% if match.status == 'pending'  %>
      <%= link_to 'Accept', accept_match_path(match)  %>
      <%= link_to 'Deny', deny_match_path(match)  %>
      <% end %>
    <% end %>
  <% end %>
</div>
