
<div class="container mt-5">
  <ul class="nav nav-tabs tabs">
    <li class="active"><a data-toggle="tab" href="#pending"><h4 class="my-match-tab active-tab">My Matches</h4></a></li>
    <li><a data-toggle="tab" href="#review"><h4 class="to-review-tab">To Review</h4></a></li>
  </ul>
  <div class="tab-content">
    <div id="pending" class="tab-pane fade in active show">
      <div class="pending_matches">
        <% @matches.each do |match| %>
          <% if match.matching_dog_id == current_dog.id %>
              <div class="card_pending">
                <div class="avatar_matching">
                   <%= cl_image_tag current_dog.photo.key, class: "current_avatar_dog dogs_avatars_match", alt: "avatar-large" %>
                   <%= cl_image_tag match.matched_dog.photo.key, class: "matched_avatar_dog dogs_avatars_match", alt: "avatar-large" %>
                </div>
                <div class="status_container">
                  <p>status: <%= match.status %></p>
                  <div class="buttons_matches_container">
                    <%= link_to dog_path(match.matched_dog) do %>
                      <i class="fas fa-info-circle icon-match"></i>
                    <% end %>
                    <i class="far fa-comment-dots icon-match"></i>
                  </div>
                </div>
              </div>
          <% end %>
        <% end %>
      </div>
    </div>
      <div id="review" class="tab-pane fade">
        <div class="matches_to_review  mt-5">
          <% @matches.each do |match| %>
            <% if match.matching_dog_id != current_user.dogs.first.id %>
              <p> I'm <%= link_to match.matching_dog.name, dog_path(match.matching_dog) %> and i want to match with you.  status: <%= match.status %></p>
              <% if match.status == 'pending'  %>
                <%= link_to 'Accept', accept_match_path(match)  %>
                <%= link_to 'Deny', deny_match_path(match)  %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
</div>
