
<div class="container mt-5">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Pending Matches</a></li>
    <li><a data-toggle="tab" href="#menu1">Matches to Review</a></li>
  </ul>
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active show">
      <div class="pending_matches">
        <% @matches.each do |match| %>
          <% if match.matching_dog_id == current_user.dogs.first.id  %>
            <p> I'm waiting for <%= match.matched_dog.name %> to confirm my match request.  status: <%= match.status %></p>
          <% end %>
        <% end %>
      </div>
    </div>
      <div id="menu1" class="tab-pane fade">
        <div class="matches_to_review  mt-5">
          <% @matches.each do |match| %>
            <% if match.matching_dog_id != current_user.dogs.first.id %>
              <p> I'm <%= link_to match.matching_dog.name, dog_path(match.matching_dog) %> and i want to match with you.  status: <%= match.status %></p>
              <% if match.status == 'pending'  %>
                <%= link_to 'Accept', accept_match_path(match)  %>
                <%= link_to 'Deny', deny_match_path(match)  %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
</div>
